/*
/.**

!/.config/
!/.config/fish
!/.config/fish/**
!/.config/mise
!/.config/mise/**
/.config/fish/fish_variables
!/.config/wezterm
!/.config/wezterm/**
!/.config/nvim
!/.config/nvim/**
!/Brewfile

!.gitignore
